html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Microsoft Jhenghei"
}

.invisible {
    display: none;
}

.fleft {
    float: left;
}
/*.container {
    width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}*/
.center {
    text-align: center;
}
header {
    text-align: center;
    height: 80px;
}

.welcome {
    text-align: center;
}
.month {
    font-size: 1000px;
    position: fixed;
    line-height: 800px;
    margin: 0;
    padding: 0;
    z-index: -3;
    color: #072;
    top: 0;
    right: 350px;
    opacity: 0.2
}

.main-cale {
    width: 1005px;
    margin: 0 auto;
}

/*.task-name-head {
    width: 100px;
}*/
.table-head {
    width: 50px;
}
.task-name-wrapper, .task-name-head {
    min-width: 100px;
    max-width: 200px;
    text-align: center;
}

    .taskName {
        margin: 0;
    }
.edit-wrapper {
    width: 100px;
    position: relative;
}
.edit-button-group {
    position: absolute;
    top: 0;
    right: -100px;
}

    .edit-taskName-input {
        width: 100px;
    }

.state-wrapper {
    width: 25px;
    height: 25px;
    text-align: center;
}

.task-state {
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    border: none;
    transition: background 0.2s;
}

.task-unchecked {
    background-color: #eee;
}

.task-finished {
    /*background-color: green;*/
    background: url(../img/state.png) 0 0;
}

.task-unfinished {
    /*background-color: #F04F47;*/
    background: url(../img/state.png) 0 25px;
}

.ctrl-panel {
    position: absolute;
    width: 300px;
    right: -340px;
    top: 100px;
    padding: 20px 20px 80px 20px;
    transition: right ease-out 0.4s;
    background: #444;
    color: #fff;
}

    .input-task {
        height: 35px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 3px;
        outline: 
    }

    #output-data {
        margin: 25px 0;
    }

.hamburger {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 50px;
    height: 46px;
    cursor: pointer;
}

.hamburger-cen {
    position: absolute;
    left: 0;
    top: 18px;
    width: 50px;
    height: 5px;
    background-color: #444;
}

    .hamburger-cen:before {
        content: '-';
        display: inline-block;
        width: 50px;
        height: 5px;
        color: transparent;
        background-color: #444;
        position: absolute;
        left: 0;
        top: -18px;
    }

    .hamburger-cen:after {
        content: '-';
        display: inline-block;
        width: 50px;
        height: 5px;
        color: transparent;
        background-color: #444;
        position: absolute;
        left: 0;
        bottom: -18px;
    }